*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.product{
  position: relative;
  display: inline-block;
}

.discount{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.heart{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: red;
  display: none;
}

.product:hover .heart{
  display: block;
}

.product:hover{
  cursor: pointer;
}

.line {
  margin-top: 20px;
  margin-left: 15px;
}

.line:last-child{
  margin-top: 40px;
}

.discount.povery{
  background-color: red;
}
