*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.product{
  position: relative;
  width: 200px;
  height: 200px;
  background-color: yellow;
}

.product .discount{
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}

.product .heart{
  position: absolute;
  bottom: 0;
  text-align: center;
}
